html {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

*, *:after, *:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

.epic-list-box { 
  display: flex;
  padding-left: 100px;
}

.story {
  width: 200px;
  height: 100px;
  
  margin-right: 5px;
  text-align: center;
}

.story:last-of-type {
  margin-right: inherit;
}

.task-group {
  display: flex;
}

.task-group__header {
  min-width: 100px;
  width: 100px;
}

.task-group__body {
  display: flex;
}

.task-container {
  min-width: 200px;
}

.task-container:not(:first-child) {
  margin-left: 5px;
}

.task {
  height: 100px;
  
  margin: 5px 0px;
}

/* DEBUG */

.task-group-container {
  background-color: aqua;
}

.epic-list-box {
  background-color: green;
}

.story {
  background-color: yellow;
  color: black;
}

.task {
  background-color: gray;
  color: white;
}